<span style="color:red">{{error.message}}</span>
<form>
<pre>
Enter Job Title: <input type="text" ng-model=job.jobTitle>
Enter CompanyName: <input type="text" ng-model=job.companyname>
Enter Description: <input type="text" ng-model=job.description>
Enter SkillsRequired: <input type="text" ng-model=job.skillsrequired>
Enter Location: <input type="text" ng-model=job.location>
Enter Salary: <input type="text" ng-model=job.jobsalary>
Enter YearOfExp: <input type="text" ng-model=job.YrsOfExp>
<button class="btn btn-lg btn-info" ng-click="addJob(job)">Add Job</button>
</pre>
</form>